:root{
    --gray-500: #A2A2A2;
    --gray-800: #696969;
    --azul-800: #013C8B;
    --azul-500: #004AAD;
    --vermelho-500: #FF3131;
    --branco: #FFFFFF;
}
* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    text-decoration: none;
    border:0
}


