@import url("styles/stNav.css");
@import url("styles/itensBar.css");
@import url("styles/produto.css");
@import url("styles/footer.css");


body{
    background-color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--branco);
}

